<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/editorPaginaEdiitar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/editordropdown.css">

<style>
    #respostas-container{
    margin-top: 2rem;
}
</style>

    <title>Text Editor</title>
</head>

<body>
    <%- include('../partials/sidebar') %>
        <main>
            <div class="container">
                <form action="/professor/registrar-questao/<%= tipo %>" method="POST" >
                    <div class="titulo">
                        <label for="titulo">TITULO:</label>
                        <input type="text" id="titulo" name="titulo">
                    </div>
                    <div class="colunas">

                        <div class="coluna-esquerda">
                            <%- include('../partials/painel') %>
                                <div id="content" contenteditable="true">
                                    Olá, mundo!!
                                </div>

                                <% if ( tipo==="objetiva" ) { %>
                                    <div id="respostas-container">
                                        <span> Adicione o tipo de resposta e selecione apenas a(s) resposta(s)
                                            correta(s)</span>

                 
                                    </div>
                                    <button type="button" onclick="addResposta()">Adicionar resposta</button>

                                    <% } else { %>
                                        <label for="descricao">Resposta :</label>
                                        <textarea id="descricao" name="resposta" rows="5" cols="50"
                                            required> </textarea>
                                        <% } %>
                                            <input type="hidden" id="respostasSelecionadas"
                                                name="respostasSelecionadas">
                                            <div>


                                                <div>
                                                    <label for="areaId">Selecione uma área:</label>
                                                    <select name="areaId" id="areaId"
                                                        onchange="addItemsToDropdown(<%= JSON.stringify(Areas) %>)">
                                                        <option value="">Selecione uma opção</option>
                                                        <% Areas.forEach(area=> { %>
                                                            <option value="<%= area.id %>">
                                                                <%= area.area %>
                                                            </option>
                                                            <% }); %>
                                                    </select>
                                                </div>

                                                <label for="topicos">Selecione topico(s):</label>
                                                <div class="dropdown" style="display: none;"
                                                    id="topicosSearchContainer">
                                                    <input type="text" id="search" placeholder="Pesquisar...">

                                                    <ul id="dropdown-list">

                                                        <!-- Adicione mais itens conforme necessário -->
                                                    </ul>
                                                          </div>
                                                <input type="hidden" id="pergunta" name="pergunta">


                                                <!-- Modal para usuario adicionar novos tópicos -->
                                                <a href="/professor/criar-topicos">Não encontrou o tópico que procura?
                                                    Clique aqui para criar um novo tópico</a>

                                                <div>
                                                    <label for="simuladoId">Selecione Vestibular (Opcional):</label>
                                                    <select id="vestibularId" name="vestibularId">
                                                        <option value="">Selecione uma opção</option>
                                                        <% Vestibulares.forEach(vestibular=> { %>
                                                            <option value="<%= vestibular.id %>">
                                                                <%= vestibular.nome %>, <%= vestibular.ano %>
                                                            </option>
                                                            <% }); %>
                                                                <option value="outro">Adicionar Vestibular</option>
                                                    </select>
                                                    <input type="text" id="meuInput" name="novoVestibular"
                                                        style="display: none;">

                                                </div>
                                                <div>

                                                    <label for="simuladoId">Selecione o ano (Opcional):</label>
                                                    <input type="number" min="1990" max="2024" name="anoVestibular"
                                                        step="1" value="" />
                                                </div>
                                            </div>

                        </div>

                    </div>
                    <button type="submit" class="botao-registro">Registrar</button>
                </form>
            </div>

            <script>
    

                function updateHiddenInput() {
                    const editorContent = document.getElementById('content');
                    document.getElementById('pergunta').innerHTML = editorContent.innerHTML;
                }

                // Adicionar um ouvinte de evento ao botão de envio do formulário
                document.querySelector('.botao-registro').addEventListener('click', function (event) {
                    // Atualiza o campo oculto com o conteúdo atual do editor
                    updateHiddenInput();

                    // Permite que o formulário seja enviado normalmente
                    // this.submit(); // Descomente esta linha para enviar o formulário após o teste
                });


                document.getElementById('areaId').addEventListener('change', function () {
                    var searchContainer = document.getElementById('topicosSearchContainer');
                    if (this.value === '') {
                        // Oculta a barra de pesquisa se nenhuma área for selecionada
                        searchContainer.style.display = 'none';
                    } else {
                        // Exibe a barra de pesquisa se uma área for selecionada
                        searchContainer.style.display = 'block';
                    }
                });
                document.addEventListener('DOMContentLoaded', function () {
                    document.getElementById('search').addEventListener('input', function (e) {
                        console.log('Pesquisa:', e.target.value);
                        var searchValue = e.target.value.toLowerCase();
                        var listItems = document.querySelectorAll('#dropdown-list li');

                        listItems.forEach(function (item) {
                            var label = item.querySelector('label').textContent.toLowerCase();
                            if (label.indexOf(searchValue) > -1) {
                                item.style.display = '';
                            } else {
                                item.style.display = 'none';
                            }
                        });
                    });
                });
            </script>
            <script>
                // Função para salvar o conteúdo do editor no localStorage
                function saveEditorContent() {
                    const editorContent = document.getElementById('content').innerHTML;
                    localStorage.setItem('editorContent', editorContent);
                }

                // Adicionar evento de escuta para o elemento do editor
                document.getElementById('content').addEventListener('input', saveEditorContent);
            </script>
            <script>
                // Função para enviar o conteúdo do editor como parte do formulário
                function sendEditorContent() {
                    const editorContent = localStorage.getItem('editorContent');
                    document.getElementById('pergunta').value = editorContent;
                }

                // Adicionar evento de escuta para o botão de envio do formulário
                document.querySelector('.botao-registro').addEventListener('click', sendEditorContent);
            </script>

            <!-- Modal - Atualizar os topicos na tela sem ter que recarregar ela -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
                integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/js/editor.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/dropdown.js"></script>
</body>

</html>