<!DOCTYPE html>
<html>
<head>
  <title>Pergunta</title>
</head>
<body>
  <h1>Pergunta</h1>

  <h2><%= pergunta.pergunta %></h2>
  <ul>
    <li><%= pergunta.alternativaA %></li>
    <li><%= pergunta.alternativaB %></li>
    <li><%= pergunta.alternativaC %></li>
    <li><%= pergunta.alternativaD %></li>
  </ul>
  <p>Resposta: <%= pergunta.resposta %></p>
</body>
</html>
